body {
  background-color: #f5f5f5;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  color: #4d4d4d;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
#header{
  font-size: 100px;
  font-weight: 100;
  color: rgba(175, 47, 47, 0.15);
}
header {
  margin: 70px;
}

